body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.one{
    border-width: 2px;
    box-shadow: 10px 10px 0px 0px;
    border-radius:10px;                         
    padding: 10px;
    border-style: solid;
    width: 280px;
    display:flex;
    align-self: center;
    justify-self: center;
}
.two{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 0;
}
.four{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
